/* h1{
    color: red;
    font-size: 30px;
}

#first-heading {
    color: red;
    font-size: 30px;
}
.second-heading{
    color: green;
    font-size: 20px;
} */
* {
    color: aqua;
}
h1{
    color: yellow !important;
}
li {
    color: brown !important;
}